form {
  font-family: 'Pixelify Sans', sans-serif;
}

#char-form{
  font-family: 'Pixelify Sans', sans-serif;
}
.radio-boxes {
  font-size: 2em;
}


#main{
  width:600px;
  height:400px;
  border:1px solid black;
  background-color: rgb(201, 201, 205);
}