/* This CSS is temporary - Nick */

body {
  font-family: 'Pixelify Sans', sans-serif;
}

form {
  font-family: Futura, helvetica, sans-serif;
}

#header{}

#navigation{}

.nav{
  margin-left:9px;
}

#main{
  width:600px;
  height:300px;
  border:1px solid black;
  background-color: rgb(201, 201, 205);
}

#footer{}