/* This CSS is temporary - Nick */

body {
  font-family: 'Pixelify Sans', sans-serif;
}

form {
  font-family: Futura, helvetica, sans-serif;
}

#header{
  margin: 20px;
}

#navigation{
  margin: 20px;
}

.nav{
  margin-left:9px;
}

#main{
  width:600px;
  height:300px;
  border:1px solid black;
  background-color: rgb(201, 201, 205);
  margin: 20px;
}
#Game{
  width: auto;
  height: auto;
  border: none;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: black;
  text-align: center;
}

@font-face {
  font-family: 'p-script';
  src: url( '/assets/fonts/53198.ot' ) format( 'opentype' );
  font-weight: normal;
  font-style: normal;
}